<% if @stock %>
    <div class="card my-3" style="width: 18rem;">
    <div class="card-header">
        <%=@stock.ticker%> 
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item fw-bold">Ticker :<%= @stock.ticker%> </li>
        <li class="list-group-item fw-bold">Name :<%= @stock.name%> </li>
        <li class="list-group-item fw-bold">Price :<%= @stock.ast_price%> </li>
    </ul>
    </div>
<%end%>